@import "tailwindcss";
@import "@fontsource/markazi-text";


#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 0;
}
.active{
  color: red;
}

/* primary 1 color: #08182F */
/* primary 2 color: #091B34 */ 

/* text color color: #091B34 */ 
